@media only screen and (min-width:600px) {

    .footerMain {
        display: flex;
        flex-direction: row;
        background-color: #510b2d;
        padding: 20px;
        justify-content: space-around;
    }

    .footerFirstContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .MariachHeading {
        font-size:26px;
        font-weight: bold;
        color: #ffd9ac;
    }

    .footerDesc {
        color: #ffd9ac;
    }

    .mediaContainer{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
    }
    .icon{
        width: 26px;
        height: 26px;
        background-color: #ffd9ac;
        color: #ffd9ac;
        border-radius: 50%;
        padding: 10px;
    }
    .aboutContainer{
     align-items: flex-start;
     text-align: left;
    }

    .aboutSecond{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .text{
        font-size: 14px;
        color: #ffd9ac;
    }
}
